<!doctype html>
<html>
  <head>
    <title><%=forumName%> - Users</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%></h1>

    <div class="container">
      <div class="nav1container">
      <ul class="nav">
        <li><div><a href='./'>Home</a></div></li>
        <li><div><a  href='/about'>About</a></div></li>
        <li><div><a href="/viewposts">Posts</a></div></li>
        <li><div><a href="/users">Users</a></div></li>
        <li><div><a href="/topics">Topics</a></div></li>
        <li><div><a href="/addpost">New Post</a></div></li>
        <li><div><a href="/search">Search </a></div></li>
      </ul>
      </div>
      <div class="nav2container">
      <ul class="nav">
        <li><div><a class="active" href='/login'>Login</a></div></li>
        <li><div><a href='/register'>Register</a></div></li>
        <li><div><a href='/logout'>Logout</a></div></li>
      </ul>
      </div>
    </div>

    <h2>Users</h2>
    <table>
    <tr><th>Username</th><th>First Name</th><th>Surname</th><th>Country</th></tr>
    <%if(users){%>
      <% users.forEach(function(user) { %>
        <tr>
          <td><a href="user-profile/<%=user.username %>" ><%= user.username %></a></td>
          <td><%= user.firstname %></td>
          <td><%= user.surname %></td>
          <td><%= user.country %></td>
      </tr>
      <% }) %>  
    <%}%>    
    </table>  
  </body>
</html>