<!doctype html>
<html>
  <head>
    <title><%=forumName%> - Posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%> Forums</h1>
    <h2>View posts</h2>
    <table>
        <tr><th>Date</th><th>Topic</th><th>Title</th><th>Content</th><th>Username</th></tr>
        <%if(posts) {%>
          <% posts.forEach(function(post) { %>
            <tr>
              <%if( post.post_date){%>
                <td><%= post.post_date.toDateString() %> <%= post.post_date.getHours() %>:<%= post.post_date.getMinutes() %></td>
                <td><%= post.topic_title %></td>
                <td><%= post.post_title %></td>
                <td><%= post.post_content %></td>
                <td><a href="viewposts/<%= post.username%>"><%= post.username %></a></td>
              </tr>
              <%}%>
          <%  } ) %>    
        <% } %>
  </table>   
  </body>
</html>